@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,700");
* {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: #fff;
}
.top-nav > li > a {
  color: #fff;
  padding: 30px 20px;
  line-height: 30px;
}
.top-nav > li > a:hover,
.top-nav > li > a:focus {
  background: #252c35;
}
.top-nav .open > a {
  background: #252c35;
}
.top-nav .open > a:hover {
  background: #252c35;
}
.side-nav {
  top: 90px;
  background: #353e4c;
}
.navbar-inverse {
  background: #252c35;
  border: 0;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background: #252c35;
}
.navbar-inverse .navbar-nav > .active a {
  background: #252c35;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  margin-top: 20px;
}
.navbar-inverse .navbar-collapse {
  border: 0;
}
.navbar-inverse .navbar-toggle {
  border: 1px solid #fff;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background: #252c35;
}
.btn-primary {
  background: #353e4c;
  border: none;
}
.btn-primary:hover {
  background: #252c35;
}
.btn-primary-i {
  border: solid 1px #2393db;
  background: #eee;
}
.btn-primary-i:hover {
  background: #d4d4d4;
}
.table {
  border: none;
}
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th {
  border: none;
}
.table-bordered > thead > tr > th {
  border-bottom: 2px #d4d4d4 solid !important;
}
.dl-horizontal dt {
  margin-bottom: 1em;
}
.Contenido-descripcion {
  color: #666;
}
.Contenido-botonera {
  margin: 1em 0;
}
.Footer {
  padding: 1em;
  background: #252c35;
  color: #fff;
}
.Footer p {
  margin: 0;
}
.Login {
  margin-top: 6em;
}
.Login-content {
  border: solid 1px solid;
}
.bg-rojo {
  background: #ea2323;
}
.bg-naranja {
  background: #f15f23;
}
.bg-rosado {
  background: #ed008c;
}
.bg-azul {
  background: #2393db;
}
.bg-azul_oscuro {
  background: #2e40b0;
}
.bg-morado {
  background: #912690;
}
.bg-amarillo {
  background: #f3d529;
}
.bg-verde {
  background: #62bd48;
}
.bg-aguamarina {
  background: #18a3a8;
}
.CategoriaColor {
  width: 100%;
  height: 40px;
  display: block;
  cursor: pointer;
}
.CategoriaColor-active,
.CategoriaColor:hover {
  border: 4px solid #353e4c;
}
