@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,700')

azul = #252C35
azul_2 = #080808
blanco = #FFFFFF
blanco_2 = #EEEEEE
oscuro = #353E4C
oscuro_2 = #252C35
gris = #666
gris_2 = #d4d4d4

rojo = #ea2323

naranja = #f15f23
naranja_2 = #da5620

rosado = #ed008c
rosado_2 = #d3007d

azul = #2393db
azul_2 = #1f81c0

azul_oscuro = #2e40b0
azul_oscuro_2 = #263592

morado = #912690
morado_2 = #792078

amarillo = #f3d529
amarillo_2 = #dcc125

verde = #62bd48
verde_2 = #56a63f

aguamarina = #18a3a8
aguamarina_2 = #158d91


*
	border-radius 0 !important	
	
body
	font-size 16px
	font-family 'Roboto', sans-serif
	background blanco

.top-nav
	& > li 
		& > a
			color blanco
			padding 30px 20px
			line-height 30px
			&:hover,
			&:focus
				background oscuro_2
	.open
		& > a
			background oscuro_2
			&:hover
				background oscuro_2
.side-nav
	top 90px
	background oscuro
.navbar-inverse
	background oscuro_2
	border 0
	.navbar-nav
		& > li
			& > a
				&:hover
				&:focus
					background oscuro_2
		& > .active
			a
				background oscuro_2
	.navbar-brand
		color blanco
		margin-top 20px
	.navbar-collapse
		border 0
	.navbar-toggle
		border blanco
		&:focus
		&:hover
			background oscuro_2
.btn
	&-primary
		background oscuro
		border none
		&:hover
			background oscuro_2
	&-primary-i
		border solid 1px azul
		background blanco_2
		&:hover
			background gris_2
.table
	border none
	&-bordered
		& > thead
		& > tbody
			& > tr
				& > td
				& > th
					border none
		& > thead
			& > tr
				& > th
					border-bottom 2px gris_2 solid !important
.dl-horizontal
	dt
		margin-bottom 1em	
.Contenido
	&-descripcion
		color gris
	&-botonera
		margin 1em 0
.Footer
	padding 1em
	background oscuro_2
	color blanco
	p 
		margin 0
.Login
	margin-top 6em
	&-content
		border solid 1px solid
		
.bg-rojo
	background rojo
.bg-naranja
	background naranja
.bg-rosado
	background rosado
.bg-azul
	background azul
.bg-azul_oscuro
	background azul_oscuro
.bg-morado
	background morado
.bg-amarillo
	background amarillo
.bg-verde
	background verde
.bg-aguamarina
	background aguamarina
	
.CategoriaColor
	width 100%
	height 40px
	display block
	cursor pointer
	&-active
	&:hover
		border 4px solid oscuro










