.form-control
	border-radius 0px
.btn
	border-radius 0px
	&-circle
		width 30px
		height 30px
		text-align center
		padding 6px 0
		font-size 12px
		line-height 1.428571429
		border-radius 15px
		&.btn-lg
			width 50px
			height 50px
			padding 10px 16px
			font-size 18px
			line-height 1.33
			border-radius 25px
		&.btn-xl
			width 70px
			height 70px
			padding 10px 16px
			font-size 24px
			line-height 1.33
			border-radius 35px
	&-rosado
		background rosado
		color blanco
		&:hover
			background rosado_2
			color blanco
	&-rojo
		background rojo
		color blanco
		&:hover
			background rojo_2
			color blanco
	&-naranja
		background naranja
		color blanco
		&:hover
			background naranja_2
			color blanco
	&-azul
		background azul
		color blanco
		&:hover
			background azul_2
			color blanco
	&-azul_oscuro
		background azul_oscuro
		color blanco
		&:hover
			background azul_oscuro_2
			color blanco
	&-negro
		background negro
		color blanco
		&:hover
			border 1px solid blanco
			color blanco
	&-amarillo
		background amarillo
		color blanco
		&:hover
			background amarillo_2
			color blanco
	&-aguamarina
		background aguamarina
		color blanco
		&:hover
			background aguamarina_2
			color blanco
	&-morado
		background morado
		color blanco
		&:hover
			background morado_2
			color blanco
	&-rosa
		background rosa
		color blanco
		&:hover
			background rosa_2
			color blanco
	&-blanco
		background blanco
		color negro
		&:hover
			background blanco_2
			
	&-facebook
		background facebook
		color blanco
		&:hover
			background facebook_2
			color blanco_2
	&-twitter
		background twitter
		color blanco
		&:hover
			color blanco_2
	&-transparent
		background transparent
		color blanco
		&:hover
		&:focus
			color blanco_2
			border solid 1px blanco
	&-transparent-rosado
		background transparent
		color blanco
		&:hover
		&:focus
			color rosado
.carousel
	&-caption
		bg-blanco-transparente(0.8)
		color negro
		left 0
		right 0
		bottom 0
		text-shadow none
		text-align left
		padding 0.5em 1em 1em 1em
		h3
			margin 0.5em 0
	&-tag
		position absolute
		top 0
		left 2em
		background rosado
		color blanco
		padding 0.5em 1em
		text-transform uppercase
	&-indicators
		bottom 0
		& .active
			background naranja
.modal
	&-content
		border-radius 0px
	&-header
		text-align center
		border-bottom 0px
.navbar
	z-index 999
	&-negro
		background negro
		color blanco
		border-radius 0px
		
		&.navbar-nav
				& > a
					color red
			& .open
				& > .dropdown-menu
						background-color blanco
						color negro
						text-transform uppercase
					& > li
						& > a
							background-color blanco
							color negro
							text-transform uppercase
							padding-top 5em
			.dropdown-menu
				&:before
					content ""
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 10px 10px 10px;
					border-color: transparent transparent blanco
					position absolute
					top -10px
					left 25px
				& > li
					& > a
						padding-top 0.7em
						padding-bottom 0.7em
						&:hover
							background naranja
							color blanco
			.navbar-toggle
				.icon-bar
					background blanco
		.nav
			& > li
				& > a
					color blanco
					text-transform uppercase
					border-bottom solid 4px negro
					&:hover
					&:focus
						bg-blanco-transparente(0.2)
						&.bd-rojo
							border-bottom solid 4px rojo
						&.bd-naranja
							border-bottom solid 4px naranja
						&.bd-rosado
							border-bottom solid 4px rosado
						&.bd-azul
							border-bottom solid 4px azul
						&.bd-azul_oscuro
							border-bottom solid 4px azul_oscuro
						&.bd-morado
							border-bottom solid 4px morado
						&.bd-amarillo
							border-bottom solid 4px amarillo
						&.bd-verde
							border-bottom solid 4px verde
						&.bd-aguamarina
							border-bottom solid 4px aguamarina
				&.buscar
					& > a
						background red
						border-bottom 4px solid red
				&.active
				&.open
					& > a
						bg-blanco-transparente(0.2)
						&.bd-rojo
							border-bottom solid 4px rojo
						&.bd-naranja
							border-bottom solid 4px naranja
						&.bd-rosado
							border-bottom solid 4px rosado
						&.bd-azul
							border-bottom solid 4px azul
						&.bd-azul_oscuro
							border-bottom solid 4px azul_oscuro
						&.bd-morado
							border-bottom solid 4px morado
						&.bd-amarillo
							border-bottom solid 4px amarillo
						&.bd-verde
							border-bottom solid 4px verde
						&.bd-aguamarina
							border-bottom solid 4px aguamarina
.img-responsive
	width 100%
.cl-text-morado
	color morado
.cl-text-amarillo
	color amarillo
.cl-text-naranja
	color naranja
.cl-text-rojo
	color rojo
.cl-text-aguamarina
	color aguamarina
.cl-text-azul
	color azul
.cl-text-azul_oscuro
	color azul_oscuro
.cl-text-verde
	color verde
.cl-text-rosado
	color rosado
	
.vcenter
	display inline-block
	vertical-align middle
	float none
	
.nav-stacked
	background negro
	li
		& > a
			border-radius 0
			color blanco
			&:hover
				background negro
				color blanco_2
		&.active
		&:focus
			a
				border-radius 0
				background rojo
				&:hover
					background rojo_2

legend
	margin-bottom 0
	width auto

	
@media screen and (max-width:767px)
	.homeCarousel
		margin-bottom 2em
		
@media screen and (min-width:768px)
	.homeCarousel
		margin-bottom 2em

//@media screen and (min-width:992px)
//@media screen and (min-width:1200px)
