@import 'nib'
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,600,700,800')
@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic')

negro = #000
negro_2 = #333
negro_3 = #666
blanco = #fff
blanco_2 = #eee
facebook = #3b5998
facebook_2 = #344f87
twitter = #00aced

gris = #CCC
gris_2 = #A1A1A1

rojo = #ea2323
rojo_2 = #c51d1d


naranja = #f15f23
naranja_2 = #da5620

rosado = #ed008c
rosado_2 = #d3007d

azul = #2393db
azul_2 = #1f81c0

azul_oscuro = #2e40b0
azul_oscuro_2 = #263592

morado = #912690
morado_2 = #792078

amarillo = #f3d529
amarillo_2 = #dcc125

verde = #62bd48
verde_2 = #56a63f

aguamarina = #18a3a8
aguamarina_2 = #158d91

negro_3 = #383838

rosa = #c7005d

bg-blanco-transparente(n)
	background rgba(255, 255, 255, n)
	
body
	background blanco_2
	font-size 16px
	font-family 'Lato',sans-serif
	font-weight 300
	
@import 'bootstrap.styl'

.Header
	background negro
	line-height 150px
	height 150px
	
	&-logo
		text-align left
		width 120px
		height 120px
		outline none
		display  inline-block
		img
			height 100%
	&-select
		margin 0
		outline none
		display  inline-block
		background negro
		color blanco
		&:focus
			border-color blanco_2

	&-botones
		text-align right
		&-item
			margin-left 0
			padding-right 0
			padding-left 0
			@media only screen and (min-width : 992px)
				margin-left 1em
		.dropdown
			display inline-block
			&-menu
				z-index 9999
.Footer
	padding 2em 0
	background negro
	&-item
		&-title
			border-bottom 1px solid gris
			padding-bottom 1em
			color blanco
			text-transform uppercase
			font-size 14px
			margin-bottom 2em
			font-weight 700
		&-list
			padding 0
			list-style none
			& > li 
				margin-bottom 1em
				& > a
					color blanco
	&-social
		&-btn
			margin-right 1em
.Footer-CD
	background negro_2
	color gris
	padding 0.5em 0
	font-size 14px
	&-links
	&-rights
		margin 0
	&-links
		a
			color gris
			text-decoration none
			&:hover
				color gris_2
.homeSlide
	background negro
	padding 0 0 1em 0
	&-titulo
		color blanco
		margin .9em 0 1em 0
		font-weight 700
		font-family 'Open Sans'
	&-video
		margin-bottom 1em
	&-banner
		img
			width 100%
.homeProgramacion
	&-item
		overflow hidden
		position relative
		@media screen and (max-width:992px)
			margin-bottom 2em
		&-a
			width 100%
			overflow hidden
			display block
			height 100%
		&-img
			& > img
				width 100%
				transition all 1s ease
		&-text
			position absolute
			display block
			top 0px
			left 0px
			background rgba(0, 0, 0, 0.4)
			width 100%
			height 100%
			&:hover
				background rgba(0, 0, 0, 0.6)
			h3
				position absolute
				top 50%
				left 50%
				transform translate(-50%, -50%)
				text-align center
				color #FFF
				font-size 35px
				z-index 200
				word-break normal
				margin 0
				font-weight 800
				text-transform uppercase
.modalLogin
	&-social
		text-align center
		margin-bottom 1em
		&-title
			color gris_2
.Section
	padding 2em 0
	&-title
		margin-top 0
		margin-left 0
		margin-bottom 1em
		text-transform uppercase
	&-blanco
		background blanco
	&-aguamarina
		background aguamarina
		color blanco
.Encabezado
	padding 1em 0
	&--blanco
		background blanco
	&-imagen
		img
			width 100%
	&-evento
		&-categoria
			position absolute
			background rosado
			color blanco
			padding 0.5em 2em
			top 0
			right 2em
			text-transform uppercase
	&-titulo
		font-weight 700
		margin-bottom 0
		margin-top 0
		text-transform uppercase
	&-lead
		color negro_3
		font-size 14px
		margin-bottom 2em
.containerEventos
	position relative
	max-width 100%
	width 100%
	margin-bottom 4em
.eventoCard
	&-contenedor
		position absolute
	&-descripcion
		font-size 14px
		color negro_3
	&-caption
		border 1px solid gris
		padding .5em
		position relative
		&:before
			content ""
			width: 0
			height: 0
			border-style: solid
			border-width: 0 12px 12px 12px
			border-color: transparent transparent blanco
			position absolute
			top -11px
			right 25px
			z-index 99
	&-imagen
		position relative
		overflow hidden
		width 100%
		img 
			width 100%
			transition all .1s ease
		&-cover
			width 100%
			height 100%
			position absolute
			z-index 2
			&:hover
				background rgba(0, 0, 0, .3)
				& + img
					transform scale(1.4)
	&-titulo
		color blanco
		position absolute
		width 100%
		bottom 0
		left 0
		margin 0
		padding .5em
		background rgba(0,0,0,0)
		background linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%)
		z-index 3
	&-acciones
		overflow hidden
	&-ubicacion
	&-fecha
		padding-left 1em
		color gris_2
		font-size 14px
		margin-bottom 10px
		display block
		width 100%
.Evento
	padding 1em 0
	&--blanco
		background blanco
	&--gris
		background blanco_2
	&-header
		margin-bottom 1em
	&-nombre
		font-weight 700
	&-localizacion
		padding 0
		li
			display inline-block
			margin-right 1em
			font-size 15px
			i
				margin-right .6em
	&-imagen
		width 100%
		img
			width 100%
	&-descripcion
		font-size 16px
	&-social
		text-align right
		margin 1em 0
	&-mapa
		width 100%
		height 300px
		margin-bottom 1em
	&-aliado
		border 1px solid blanco_2
		padding 1em
		margin-bottom 1em
		&-header
			border-bottom 1px solid blanco_2
			margin-bottom .5em
			h4
				margin 0 0 .5em 0
		&-body
			padding-top .5em
		&-contacto
			margin-bottom .5em
			.fa
				margin-right 1em
		&-calendario
			& > table 
				width 100%
				border solid 1px gris
				& > td
				& > tr
					border solid 1px gris
				& tbody
					td
					tr
						text-align center !important
					a
						color azul
				& .month
					height 50px
				& .highlight
					background gris
	&-adquirir
		margin-bottom 1em
.Comentarios::before
.Comentarios::after
.Comentarios-form::before
.Comentarios-form::after
	content ""
	display table
	clear both
.Comentarios
	ul
		list-style-type none
		padding 0
	&.comments
		ul
			list-style-type none
			padding 0
			margin-left 85px
	img
		opacity 1

		&.avatar 
			position relative
			float left
			margin-left 0
			margin-top 0
			width 65px
			height 65px
	.post-comments
		overflow hidden
		border 1px solid #eee
		margin-bottom 20px
		margin-right 0px
		padding 10px 20px
		position relative
		background #fff
		color #6b6e80
		position relative
	.meta
		font-size 13px
		color #aaaaaa
		padding-bottom 8px
		margin-bottom 10px !important
		border-bottom 1px solid #eee
	&-form
		padding-left 15%
		padding-right 15%
		padding-top 40px
.Publica
	padding 6em 0
	background url("../img/publica-evento.jpg")
	background-size 100%
	background-repeat no-repeat
	background-position center
	a.btn-lg
		padding 1em 2em
.homePublica
	&-form
		margin-bottom 1em
	&-imagen
		width 100%
		margin-top 2em
		margin-bottom 2em
		img
			width 100%
#search
	position fixed
	top 0px
	left 0px
	width 100%
	height 100%
	background-color rgba(0, 0, 0, 0.9)
	transition: all 0.5s ease-in-out
	transform: translate(0px, -100%) scale(0, 0)
	opacity: 0

	&.open
		transform translate(0px, 0px) scale(1, 1) 
		opacity 1
		z-index 9999

	input[type="search"] 
		position absolute
		top 50%
		width 100%
		color rgb(255, 255, 255)
		background rgba(0, 0, 0, 0)
		font-size 60px
		font-weight 300
		text-align center
		border 0px
		margin 0px auto
		margin-top -51px
		outline none
	.btn
		position absolute
		top 50%
		left 50%
		margin-top 61px
		margin-left -45px
	.close 
		position fixed
		top 15px
		right 15px
		color #fff
		background-color #428bca
		border-color #357ebd
		opacity 1
		padding 10px 17px
		font-size 27px
.flat
	margin 1em 0 2em 0
	.plan
		border solid gris 1px
		list-style none
		padding 0 0 20px
		margin 0 0 15px
		background #fff
		text-align center
		li
			padding 10px 15px
			color #ccc
			border-top 1px solid #f5f5f5
			transition 300ms

			&.plan-price
				border-top 0
				
			&.plan-name
				padding 15px
				font-size 24px
				line-height 24px
				color #fff
				background #e74c3c
				margin-bottom 30px
				border-top 0
				
			& > strong
				color #e74c3c

			&.plan-action
				margin-top 10px
				border-top 0
		&.featured
			transform scale(1.1)
			li
				&.plan-name
					background #000

			&:hover
				li
					&.plan-name
						background #c0392b
		&.disabled
			li
				&.plan-name
					background gris
				& > strong
					color gris
			&:hover
				li
					&.plan-name
						background gris
		&:hover
			li
				&.plan-name
					background #000
						
