@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic");
body {
  background: #eee;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.form-control {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.btn {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  -webkit-border-radius: 35px;
  border-radius: 35px;
}
.btn-rosado {
  background: #ed008c;
  color: #fff;
}
.btn-rosado:hover {
  background: #d3007d;
  color: #fff;
}
.btn-rojo {
  background: #ea2323;
  color: #fff;
}
.btn-rojo:hover {
  background: #c51d1d;
  color: #fff;
}
.btn-naranja {
  background: #f15f23;
  color: #fff;
}
.btn-naranja:hover {
  background: #da5620;
  color: #fff;
}
.btn-azul {
  background: #2393db;
  color: #fff;
}
.btn-azul:hover {
  background: #1f81c0;
  color: #fff;
}
.btn-azul_oscuro {
  background: #2e40b0;
  color: #fff;
}
.btn-azul_oscuro:hover {
  background: #263592;
  color: #fff;
}
.btn-negro {
  background: #000;
  color: #fff;
}
.btn-negro:hover {
  border: 1px solid #fff;
  color: #fff;
}
.btn-amarillo {
  background: #f3d529;
  color: #fff;
}
.btn-amarillo:hover {
  background: #dcc125;
  color: #fff;
}
.btn-aguamarina {
  background: #18a3a8;
  color: #fff;
}
.btn-aguamarina:hover {
  background: #158d91;
  color: #fff;
}
.btn-morado {
  background: #912690;
  color: #fff;
}
.btn-morado:hover {
  background: #792078;
  color: #fff;
}
.btn-rosa {
  background: #c7005d;
  color: #fff;
}
.btn-rosa:hover {
  background: rosa_2;
  color: #fff;
}
.btn-blanco {
  background: #fff;
  color: #000;
}
.btn-blanco:hover {
  background: #eee;
}
.btn-facebook {
  background: #3b5998;
  color: #fff;
}
.btn-facebook:hover {
  background: #344f87;
  color: #eee;
}
.btn-twitter {
  background: #00aced;
  color: #fff;
}
.btn-twitter:hover {
  color: #eee;
}
.btn-transparent {
  background: transparent;
  color: #fff;
}
.btn-transparent:hover,
.btn-transparent:focus {
  color: #eee;
  border: solid 1px #fff;
}
.btn-transparent-rosado {
  background: transparent;
  color: #fff;
}
.btn-transparent-rosado:hover,
.btn-transparent-rosado:focus {
  color: #ed008c;
}
.carousel-caption {
  
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,0.6)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );

  color: #fff;
  left: 0;
  right: 0;
  bottom: 0;
  text-shadow: none;
  text-align: left;
  padding: 0.5em 1em 1em 1em;

  transition: linear all .3s;
}
.carousel-caption:hover{
  background: rgba(0,0,0,0.6);
}
@media(max-width:767px){
  .carousel-caption {
    background: rgba(0,0,0,0.6);
    padding: 0.5em;
  }
  .carousel-caption h3 {
    font-size: 16px;
  }
}
.carousel-caption h3 {
  margin: 0.5em 0;
}
.carousel-tag {
  position: absolute;
  top: 0;
  left: 2em;
  background: #ed008c;
  color: #fff;
  padding: 0.5em 1em;
  text-transform: uppercase;
}
.carousel-indicators {
  bottom: 0;
}
.carousel-indicators .active {
  background: #f15f23;
}
.modal-content {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.modal-header {
  text-align: center;
  border-bottom: 0px;
}
.navbar {
  z-index: 999;
}
.navbar-negro {
  background: #000;
  color: #fff;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.navbar-negro.navbar-nav > a {
  color: #f00;
}
.navbar-negro .open > .dropdown-menu {
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
}
.navbar-negro .open > li > a {
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  padding-top: 5em;
}
.navbar-negro .dropdown-menu:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff;
  position: absolute;
  top: -10px;
  left: 25px;
}
.navbar-negro .dropdown-menu > li > a {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}
.navbar-negro .dropdown-menu > li > a:hover {
  background: #f15f23;
  color: #fff;
}
.navbar-negro .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar-negro .nav > li > a {
  color: #fff;
  text-transform: uppercase;
  border-bottom: solid 4px #000;
}
.navbar-negro .nav > li > a:hover,
.navbar-negro .nav > li > a:focus {
  background: rgba(255,255,255,0.2);
}
.navbar-negro .nav > li > a:hover.bd-rojo,
.navbar-negro .nav > li > a:focus.bd-rojo {
  border-bottom: solid 4px #ea2323;
}
.navbar-negro .nav > li > a:hover.bd-naranja,
.navbar-negro .nav > li > a:focus.bd-naranja {
  border-bottom: solid 4px #f15f23;
}
.navbar-negro .nav > li > a:hover.bd-rosado,
.navbar-negro .nav > li > a:focus.bd-rosado {
  border-bottom: solid 4px #ed008c;
}
.navbar-negro .nav > li > a:hover.bd-azul,
.navbar-negro .nav > li > a:focus.bd-azul {
  border-bottom: solid 4px #2393db;
}
.navbar-negro .nav > li > a:hover.bd-azul_oscuro,
.navbar-negro .nav > li > a:focus.bd-azul_oscuro {
  border-bottom: solid 4px #2e40b0;
}
.navbar-negro .nav > li > a:hover.bd-morado,
.navbar-negro .nav > li > a:focus.bd-morado {
  border-bottom: solid 4px #912690;
}
.navbar-negro .nav > li > a:hover.bd-amarillo,
.navbar-negro .nav > li > a:focus.bd-amarillo {
  border-bottom: solid 4px #f3d529;
}
.navbar-negro .nav > li > a:hover.bd-verde,
.navbar-negro .nav > li > a:focus.bd-verde {
  border-bottom: solid 4px #62bd48;
}
.navbar-negro .nav > li > a:hover.bd-aguamarina,
.navbar-negro .nav > li > a:focus.bd-aguamarina {
  border-bottom: solid 4px #18a3a8;
}
.navbar-negro .nav > li.buscar > a {
  background: #f00;
  border-bottom: 4px solid #f00;
}
.navbar-negro .nav > li.active > a,
.navbar-negro .nav > li.open > a {
  background: rgba(255,255,255,0.2);
}
.navbar-negro .nav > li.active > a.bd-rojo,
.navbar-negro .nav > li.open > a.bd-rojo {
  border-bottom: solid 4px #ea2323;
}
.navbar-negro .nav > li.active > a.bd-naranja,
.navbar-negro .nav > li.open > a.bd-naranja {
  border-bottom: solid 4px #f15f23;
}
.navbar-negro .nav > li.active > a.bd-rosado,
.navbar-negro .nav > li.open > a.bd-rosado {
  border-bottom: solid 4px #ed008c;
}
.navbar-negro .nav > li.active > a.bd-azul,
.navbar-negro .nav > li.open > a.bd-azul {
  border-bottom: solid 4px #2393db;
}
.navbar-negro .nav > li.active > a.bd-azul_oscuro,
.navbar-negro .nav > li.open > a.bd-azul_oscuro {
  border-bottom: solid 4px #2e40b0;
}
.navbar-negro .nav > li.active > a.bd-morado,
.navbar-negro .nav > li.open > a.bd-morado {
  border-bottom: solid 4px #912690;
}
.navbar-negro .nav > li.active > a.bd-amarillo,
.navbar-negro .nav > li.open > a.bd-amarillo {
  border-bottom: solid 4px #f3d529;
}
.navbar-negro .nav > li.active > a.bd-verde,
.navbar-negro .nav > li.open > a.bd-verde {
  border-bottom: solid 4px #62bd48;
}
.navbar-negro .nav > li.active > a.bd-aguamarina,
.navbar-negro .nav > li.open > a.bd-aguamarina {
  border-bottom: solid 4px #18a3a8;
}
.img-responsive {
  width: 100%;
}
.cl-text-morado {
  color: #912690;
}
.cl-text-amarillo {
  color: #f3d529;
}
.cl-text-naranja {
  color: #f15f23;
}
.cl-text-rojo {
  color: #ea2323;
}
.cl-text-aguamarina {
  color: #18a3a8;
}
.cl-text-azul {
  color: #2393db;
}
.cl-text-azul_oscuro {
  color: #2e40b0;
}
.cl-text-verde {
  color: #62bd48;
}
.cl-text-rosado {
  color: #ed008c;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.nav-stacked {
  background: #000;
}
.nav-stacked li > a {
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
}
.nav-stacked li > a:hover {
  background: #000;
  color: #eee;
}
.nav-stacked li.active a,
.nav-stacked li:focus a {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #ea2323;
}
.nav-stacked li.active a:hover,
.nav-stacked li:focus a:hover {
  background: #c51d1d;
}
legend {
  margin-bottom: 0;
  width: auto;
}
@media screen and (max-width: 767px) {
  .homeCarousel {
    margin-bottom: 2em;
  }
}
@media screen and (min-width: 768px) {
  .homeCarousel {
    margin-bottom: 2em;
  }
}
.Header {
  background: #000;
  line-height: 150px;
  height: 150px;
}
.Header-logo {
  text-align: left;
  width: 120px;
  height: 120px;
  outline: none;
  display: inline-block;
}
.Header-logo img {
  height: 100%;
}
.Header-select {
  margin: 0;
  outline: none;
  display: inline-block;
  background: #000;
  color: #fff;
}
.Header-select:focus {
  border-color: #eee;
}
.Header-botones {

  right: 5px; 
  bottom: 50px;
  float: right;  
  text-align: right;
}
.Header-botones-item {
    
  float: left;
  margin-left: 0;
  padding-right: 25px;
  padding-left: 0;
  z-index: 3;
}
@media only screen and (min-width: 992px) {
  .Header-botones-item {
    margin-left: 1em;
  }
}
.Header-botones .dropdown {
  
  display: inline-block;
}
.Header-botones .dropdown-menu {
  right: 80px; 
  position: absolute;
  z-index: 9999;
}
.Footer {
  padding: 2em 0;
  background: #000;
}
.Footer-item-title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 2em;
  font-weight: 700;
}
.Footer-item-list {
  padding: 0;
  list-style: none;
}
.Footer-item-list > li {
  margin-bottom: 1em;
}
.Footer-item-list > li > a {
  color: #fff;
}
.Footer-social-btn {
  margin-right: 1em;
}
.Footer-CD {
  background: #333;
  color: #ccc;
  padding: 0.5em 0;
  font-size: 14px;
}
.Footer-CD-links{
  text-align: right;
}
.Footer-CD-rights {
  text-align: left;
}

@media screen and (max-width: 767px) {
  .Footer-CD-links,
  .Footer-CD-rights {
    text-align: center;
  }
}
.Footer-CD-links,
.Footer-CD-rights {
  margin: 0;
}
.Footer-CD-links a {
  color: #ccc;
  text-decoration: none;
}
.Footer-CD-links a:hover {
  color: #a1a1a1;
}
.homeSlide {
  background: #000;
  padding: 0 0 1em 0;
}
.homeSlide-titulo {
  color: #fff;
  margin: 0.9em 0 1em 0;
  font-weight: 700;
  font-family: 'Open Sans';
}
.homeSlide-video {
  margin-bottom: 1em;
}
.homeSlide-banner img {
  width: 100%;
}
.homeProgramacion-item {
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 992px) {
  .homeProgramacion-item {
    margin-bottom: 2em;
  }
}
.homeProgramacion-item-a {
  width: 100%;
  overflow: hidden;
  display: block;
  height: 100%;
}
.homeProgramacion-item-img > img {
  max-width: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.homeProgramacion-item-text {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
}
.homeProgramacion-item-text:hover {
  background: rgba(0,0,0,0.6);
}
.homeProgramacion-item-text h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 3rem;
  z-index: 200;
  word-break: normal;
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}
.modalLogin-social {
  text-align: center;
  margin-bottom: 1em;
}
.modalLogin-social-title {
  color: #a1a1a1;
}
.Section {
  padding: 2em 0;
}
.Section-title {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.Section-blanco {
  background: #fff;
}
.Section-gris {
  background: #E0E0E0;
}
.Section-aguamarina {
  background: #18a3a8;
  color: #fff;
}
.Encabezado {
  padding: 1em 0;
}
.Encabezado--blanco {
  background: #fff;
}
.Encabezado-imagen img {
  width: 100%;
}
.Encabezado-evento-categoria {
  position: absolute;
  background: #ed008c;
  color: #fff;
  padding: 0.5em 2em;
  top: 0;
  right: 2em;
  text-transform: uppercase;
}
.Encabezado-titulo {
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.Encabezado-lead {
  color: #383838;
  font-size: 14px;
  margin-bottom: 2em;
}
.containerEventos {
  position: relative;
  max-width: 100%;
  width: 100%;
  margin-bottom: 11em;

}
.eventoCard-contenedor {
  position: absolute;
  box-shadow: 2px 2px 5px #888888;
}
.eventoCard-descripcion {
  font-size: 14px;
  color: #383838;
}
.eventoCard-caption {
  border: 1px solid #ccc;
  padding: 0.5em;
  position: relative;
}
.eventoCard-caption:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent #fff;
  position: absolute;
  top: -11px;
  right: 25px;
  z-index: 99;
}
.eventoCard-imagen {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.eventoCard-imagen img {
  width: 100%;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.eventoCard-imagen-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.eventoCard-imagen-cover:hover {
  background: rgba(0,0,0,0.3);
}
.eventoCard-imagen-cover:hover + img {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
.eventoCard-titulo {
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0.5em;
  background: rgba(0,0,0,0);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
  z-index: 3;
}
.eventoCard-acciones {
  overflow: hidden;
}
.eventoCard-ubicacion,
.eventoCard-fecha {
  padding-left: 1em;
  color: #a1a1a1;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}
.Evento {
  padding: 1em 0;
}
.Evento--blanco {
  background: #fff;
}
.Evento--gris {
  background: #eee;
}
.Evento-header {
  margin-bottom: 1em;
}
.Evento-nombre {
  font-weight: 700;
}
.Evento-localizacion {
  padding: 0;
}
.Evento-localizacion li {
  display: inline-block;
  margin-right: 1em;
  font-size: 15px;
}
.Evento-localizacion li i {
  margin-right: 0.6em;
}
.Evento-imagen {
  width: 100%;
}
.Evento-imagen img {
  width: 100%;
}
.Evento-descripcion {
  font-size: 16px;
}
.Evento-terminos {
  font-size: 16px;
}
.Evento-social {
  text-align: right;
  margin: 1em 0;
}
.Evento-mapa {
  width: 100%;
  height: 300px;
  margin-bottom: 1em;
}
.Evento-aliado {
  border: 1px solid #eee;
  padding: 1em;
  margin-bottom: 1em;
}
.Evento-aliado-header {
  border-bottom: 1px solid #eee;
  margin-bottom: 0.5em;
}
.Evento-aliado-header h4 {
  margin: 0 0 0.5em 0;
}
.Evento-aliado-body {
  padding-top: 0.5em;
}
.Evento-aliado-contacto {
  margin-bottom: 0.5em;
}
.Evento-aliado-contacto .fa {
  margin-right: 1em;
}
.Evento-aliado-calendario > table {
  width: 100%;
  border: solid 1px #ccc;
}
.Evento-aliado-calendario > table > td,
.Evento-aliado-calendario > table > tr {
  border: solid 1px #ccc;
}
.Evento-aliado-calendario > table tbody td,
.Evento-aliado-calendario > table tbody tr {
  text-align: center !important;
}
.Evento-aliado-calendario > table tbody a {
  color: #2393db;
}
.Evento-aliado-calendario > table .month {
  height: 50px;
}
.Evento-aliado-calendario > table .highlight {
  background: #ccc;
}
.Evento-adquirir {
  margin-bottom: 1em;
}
.Comentarios::before,
.Comentarios::after,
.Comentarios-form::before,
.Comentarios-form::after {
  content: "";
  display: table;
  clear: both;
}
.Comentarios ul {
  list-style-type: none;
  padding: 0;
}
.Comentarios.comments ul {
  list-style-type: none;
  padding: 0;
  margin-left: 85px;
}
.Comentarios img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.Comentarios img.avatar {
  position: relative;
  float: left;
  margin-left: 0;
  margin-top: 0;
  width: 65px;
  height: 65px;
}
.Comentarios .post-comments {
  overflow: hidden;
  border: 1px solid #eee;
  margin-bottom: 20px;
  margin-right: 0px;
  padding: 10px 20px;
  position: relative;
  background: #fff;
  color: #6b6e80;
  position: relative;
}
.Comentarios .meta {
  font-size: 13px;
  color: #aaa;
  padding-bottom: 8px;
  margin-bottom: 10px !important;
  border-bottom: 1px solid #eee;
}
.Comentarios-form {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 40px;
}
.Publica {
  padding: 6em 0;
  background: url("../img/publica-evento.jpg");
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.Publica a.btn-lg {
  padding: 1em 2em;
}
.homePublica-form {
  margin-bottom: 1em;
}
.homePublica-imagen {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}
.homePublica-imagen img {
  width: 100%;
}
#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
  -ms-filter: none;
  filter: none;
  z-index: 9999;
}
#search input[type="search"] {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #fff;
  background: rgba(0,0,0,0);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -51px;
  outline: none;
}
#search .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 61px;
  margin-left: -45px;
}
#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  padding: 10px 17px;
  font-size: 27px;
}
.flat {
  margin: 1em 0 2em 0;
}
.flat .plan {
  border: solid #ccc 1px;
  list-style: none;
  padding: 0 0 20px;
  margin: 0 0 15px;
  background: #fff;
  text-align: center;
}
.flat .plan li {
  padding: 10px 15px;
  color: #ccc;
  border-top: 1px solid #f5f5f5;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  -ms-transition: 300ms;
  transition: 300ms;
}
.flat .plan li.plan-price {
  border-top: 0;
}
.flat .plan li.plan-name {
  padding: 15px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  background: #e74c3c;
  margin-bottom: 30px;
  border-top: 0;
}
.flat .plan li > strong {
  color: #e74c3c;
}
.flat .plan li.plan-action {
  margin-top: 10px;
  border-top: 0;
}
.flat .plan.featured {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.flat .plan.featured li.plan-name {
  background: #000;
}
.flat .plan.featured:hover li.plan-name {
  background: #c0392b;
}
.flat .plan.disabled li.plan-name {
  background: #ccc;
}
.flat .plan.disabled li > strong {
  color: #ccc;
}
.flat .plan.disabled:hover li.plan-name {
  background: #ccc;
}
.flat .plan:hover li.plan-name {
  background: #000;
}
