@charset "UTF-8";

@font-face {
  font-family: "untitled-font-3";
  src:url("../fonts/untitled-font-3.eot");
  src:url("../fonts/untitled-font-3.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-3.woff") format("woff"),
    url("../fonts/untitled-font-3.ttf") format("truetype"),
    url("../fonts/untitled-font-3.svg#untitled-font-3") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-3" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-floppy:before {
  content: "\62";
}
.icon-paper-plane:before {
  content: "\63";
}
.icon-times:before {
  content: "\64";
}
.icon-user-1:before {
  content: "\66";
}
.icon-plus:before {
  content: "\65";
}
.icon-wrench:before {
  content: "\67";
}
.icon-search:before {
  content: "\68";
}
.icon-calendar-check-o:before {
  content: "\61";
}
.icon-sale-04:before {
  content: "\69";
}
